#header {
	display: flex;
	flex-direction: column;
	
}
.reviews {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}

nav ul{
	display: flex;
	
}
nav li {
	display: flex;
}

article{
	display: grid;
	grid-template-columns: 1fr 3fr;
	

}