a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #b2b7ba;
}
nav a:hover {
	color: white;
}
blockquote {
	font-family: 'Share', cursive;
}
body {
	margin: auto;
	width: 90%;
	max-width: 1000px;
}
.book-image {
	max-width: 200px;
	margin: auto;
	border-style: solid;
	border-color: #b2b7ba;
	padding: 2px;
}
article .book-image {
	margin: 1em;
}
.book-title {
	font-style: italic;
}
.book p {
	text-align: center;
}
button {
	color: #b2b7ba;
	border: none;
	background-color: white; 
	padding: .5em;
}
button:hover {
	background-color: #fb9b2b;
	color: white;
}
#comment-field {
	height: 5em;
}
.comment p {
	margin-block-start: 0;
}
.genre-list-item {
	font-family: 'Share', cursive;
	font-size: 100%;
}
#header {
	background-color: #fb9b2b;
	padding: 1em 0 0 1em;
}
#header p {
	color: white;
}
h1, h2, h3, h4 {
	font-family: 'Share Tech', sans-serif;
}

h2 {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #fb9b2b;
	color: #fb9b2b;
	font-weight: normal;
}
h3 {
	font-weight: normal;
}
h1 {
	font-size: 3em;
	color: white;
	margin: 0;
	margin-top: .5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
h4 {
	margin-bottom: 0; 

} 
input[type=text] {
	border: 1px solid #b2b7ba;
	margin-bottom: 1em;
	padding: .3em;
}
.list {
	padding-left: 1em;
}
main {
	margin-bottom: 5em;
}
nav {
	padding-bottom: .5em;
}
nav li {
	padding-right: 1em;
}
p, ul {
	font-family: 'Share', cursive;
	font-size: 100%;
}
.review-body {
	padding: 0 1em;
}
ul {
	list-style: none;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


