<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/layout.css">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
<link href="https://fonts.googleapis.com/css?family=Share+Tech|Share" rel="stylesheet">

<head>
	<title th:text="${review.title}">A review</title>
</head>
<body>
	<header id="header">
	<h1>Lisa Reads</h1>
	<nav>
		<ul>
			<li>
				<a class="nav-link" href="http://localhost:8080/show-reviews">All Reviews</a>
			</li>
			<li>
				<a class="nav-link" href="http://localhost:8080/show-genres">All Genres</a>
			</li>
			<li>
				<a class="nav-link" href="http://localhost:8080/show-authors">All Authors</a>
			</li>
		</ul>
		</nav>
	</header>
	<main>
		<article>
			<img class="book-image" th:src="${review.imageUrl}">
			<section class="review-body">
				<h2>Title</h2>
					<h3 class="book-title" th:text = "${review.title}"></h3>
				<h2>Author</h2>
					<h3><a class="author-name" th:href="@{/author(id=${author.id})}" th:text="${author.name}"></a></h3>
				<h2>Genres</h2>
				<form method="POST">
					<input name="reviewId" type="hidden" th:value="${review.id}"/>
					<div th:each= "genre: ${genres}">
						<h3><a class="genre-list-item" th:href="@{/genre(id=${genre.id})}" th:text="${genre.name}"></a><button class="x" name="genreId" title="delete this genre" th:value="${genre.id}" th:formaction="@{/remove-genre-button}">&times;</button></h3>
					</div>
				</form>
				<form method="POST">
					<input name="reviewId" type="hidden" th:value="${review.id}"/>
					<input name="name" type="text">
					<button th:formaction="@{/add-genre}">Add Genre</button>
				</form>
				<h2>My Take On It</h2>
				<p class="review" th:utext= "${review.reviewText}"></p>
				<section id="comments">
					<h2>Your Comments</h2>
					<div class="add-comment">
						<form method="POST">
							<input type="text" name="commentAuthor" placeholder="Your name"/>
							<input id="comment-field" type="text" name="commentText" placeholder="What's on your mind?"/>
							<input type="hidden" th:value="${review.id}" name="reviewId"/>
							<button th:formaction= "@{/add-comment}">Add Comment</button>
						</form>
					</div>
					<article class="comment" th:each="comment: ${review.comments}">
						<div class="del-comment">
							<form method="POST">
								<input type="hidden" th:value="${comment.id}" name="commentId"/>
								<input type="hidden" th:value="${review.id}" name="reviewId"/>
								<h4><span th:text="${comment.commentAuthor}"></span><button class="x" title="delete this comment" th:formaction= "@{/del-comment}">&times;</button></h4>
							</form>
						</div>
						<p th:text="${comment.commentText}"></p>
					</article>
				</section>
			</section>
		</article>
	</main>
	
</body>

</html>