<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/style.css">

<head>
	<title th:text="${review.title}">A review</title>
</head>
<body>
	<header>
	<h1>Lisa Reads</h1>
	</header>
	<main>
		<article>
			<header>
				<img class="book-image" th:src="${review.imageUrl}">
				<h2 class="book-title" th:text = "${review.title}">A review</h2>
				<h2>
					<a th:href="@{/author(id=${author.id})}" th:text="${author.name}"></a>
				</h2>
					
					
					<div th:each= "genre: ${genres}">
						<h2>
							<a th:href="@{/genre(id=${genre.id})}" th:text="${genre.name}"></a>
						</h2>
					</div>
			</header>
				<p th:text = "${review.review}"></p>
		</article>
	</main>
	<nav>
		<a href="http://localhost:8080/show-reviews">Back to main</a>
	</nav>
</body>

</html>