<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/layout.css">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
<link href="https://fonts.googleapis.com/css?family=Share+Tech|Share" rel="stylesheet">

<head>
	<title th:text="${review.title}">A review</title>
</head>
<body>
	<header id="header">
	<h1>Lisa Reads</h1>
	<nav>
		<ul>
			<li>
				<a class="nav-link" href="http://localhost:8080/show-reviews">All Reviews</a>
			</li>
			<li>
				<a class="nav-link" href="http://localhost:8080/show-genres">All Genres</a>
			</li>
			<li>
				<a class="nav-link" href="http://localhost:8080/show-authors">All Authors</a>
			</li>
		</ul>
		</nav>
	</header>
	<main>
		<article>
			<img class="book-image" th:src="${review.imageUrl}">
			<section class="review-body">
				<h2>Title</h2>
					<h3 class="book-title" th:text = "${review.title}"></h3>
				<h2>Author</h2>
					<h3><a class="author-name" th:href="@{/author(id=${author.id})}" th:text="${author.name}"></a></h3>
				<h2>Genres</h2>
				<div th:each= "genre: ${genres}">
					<h3><a class="genre-list-item" th:href="@{/genre(id=${genre.id})}" th:text="${genre.name}"></a></h3>
				</div>
				<form method="POST">
					<input name="reviewId" type="hidden" th:value="${review.id}"/>
					<input name="name" type="text">
					<button th:formaction="@{/add-genre}">add tag with html forms</button>
				</form>
				<form method="POST">
					<input name="reviewId" type="hidden" th:value="${review.id}"/>
					<ul>
						<li th:each="genre: ${review.genres}"><span th:text="${genre.name}"></span>
						<button id="x" name="genreId" th:value="${genre.id}" th:formaction="@{/remove-genre-button}">&times;</button></li>
					</ul>
				</form>
			
			<h2>My Take On It</h2>
				<p class="review" th:utext= "${review.reviewText}"></p>
			</section>
		</article>
		<section id="comments">
			<div class="add-comment">
				<form method="POST">
					<section>
						<label>Enter your name</label>
						<input type="text" name="commentAuthor"/>
					</section>
					<section>
						<label>What's on your mind?</label>
						<input type="text" name="commentText"/>
					</section>
					<section>
						<input type="hidden" th:value="${review.id}" name="reviewId"/>
					</section>
					<section>
						<button th:formaction= "@{/add-comment}">Add Comment</button>
					</section>
				</form>
			</div>
			<div th:each="comment: ${review.comments}">
				<h4 th:text="${comment.commentAuthor}"></h4>
				<p th:text="${comment.commentText}"></p>
			</div>
		</section>
	</main>
	
</body>

</html>